            <div class="card h-100">
                <img src="https://m.media-amazon.com/images/I/41WXlmlE98L._AC_SX679_.jpg" alt="" class="image-top">
                <div class="card-body">
                    <div class="thumbnails mb-3">
                        <img src="https://m.media-amazon.com/images/I/512IzTv6LoL.__AC_SY300_SX300_QL70_ML2_.jpg" alt="" class="thumbnails-img small-img">
                        <img src="https://m.media-amazon.com/images/I/41WXlmlE98L._AC_SX679_.jpg" alt="" class="thumbnails-img small-img">
                    </div>
                    <h5 class="card-title">{{Product.name}}</h5>
                    <p class="card-text">{{Product.description}}</p>
                    <p class="price">
                        <span class="discount"></span>
                        {{Product.price}} EGP
                    </p>
                    <div class="rating mb-3">

                    </div>
                    <button class="btn btn-outline-primary favorite-icon">
                        <i class="fa fa-bookmark"></i>
                    </button>
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-4">
                        <button class="btn btn-dark">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                        <button class="btn btn-success">
                            <i class="fa fa-info-circle"></i> Item Details
                        </button>
                    </div>
                </div>
            </div>
