.card {
    border: 0.1px solid #f2eeee;
    border-radius: 10px;
    height: 400px; /* Set consistent card height */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease-in-out;
}

.card .card-img-top {
    height: 300px; /* Fixed height for all main images */
    width: 100%;
    object-fit: cover; /* Ensures image covers area without distortion */
    border-radius: 15px 15px 0 0;
}


.card .card-body {
    flex-grow: 1;
    padding: 0.7rem;
    background: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-body .card-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #7961ff;
}

.card .card-body .card-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #343a40;
}

.card .card-body .price {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.card .card-body .price .old-price {
    text-decoration: line-through;
    color: #dc3545;
    margin-right: 0.5rem;
}

.card .card-body .rating span {
    color: #ffc107;
    font-size: 1.1rem;
}

.card .card-body .favorite-icon {
    position: absolute;
    top: 4rem;
    right: 0.3rem;
    border: none;
}

.card .thumbnails {
    display: flex;
    justify-content: start;
    gap: 0.4rem;
}

.card .small-img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

.card .small-img:hover {
    border-color: #7961ff;
}
