<section class="form-section">
    <div class="form-container">
        <h2 class="text-center">Reset Password</h2>
        <form [formGroup]="formGroup" (ngSubmit)="Submit()">

            
          

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                       [class.is-valid]="password.valid"
                       [class.is-invalid]="password.invalid && password.touched">
                @if (password.touched) {
                    @if (password.hasError('required')) {
                        <span class="text-danger">Password is required.</span>
                    } @else if (password.hasError('pattern')) {
                        <span class="text-danger">
                            Password must contain at least one number, one small Character, one Capital character , and be at least 8 characters long.
                        </span>
                    }
                }
            </div>

             <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="password" class="form-control" formControlName="confirmPassword"
                       [class.is-valid]="confirmPassword.valid"
                       [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched">
                @if (confirmPassword.touched) {
                    @if (confirmPassword.hasError('required')) {
                        <span class="text-danger">Password is required.</span>
                    } @else if (confirmPassword.hasError('pattern')) {
                        <span class="text-danger">
                            Password must contain at least one number, one small Character, one Capital character , and be at least 8 characters long.
                        </span>
                    } @else if (confirmPassword.hasError('passwordMisMatch')) {
                         <span class="text-danger">
                            Password do not Match
                        </span>
                    }
                }
            </div>

            <div class="form-group pt-4">
                <button class="btn btn-info w-100" [disabled]="formGroup.invalid">
                    Reset
                </button>
            </div>
        </form>
    </div>
</section>