<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Brand -->
    <a routerLink="/" class="navbar-brand">
      <!-- <img src="../../../../favicon-tag-64.ico" alt="" class="logo" /> -->
      <!-- <img src="./favicon.ico" alt="" class="logo" /> -->
      <img src="./favicon-tag-purple-64.ico" alt="" class="logo" />
      <i class="text-white px-3">Sawaaly</i>
    </a>

    <!-- Toggler button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarContent">
      <!-- Nav links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="/" class="nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li class="nav-item"><a routerLink="/shop" class="nav-link" routerLinkActive="active">Shopping</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active">About Us</a></li>
        <!-- Mobile-only links -->
        <li class="nav-item d-lg-none"><a routerLink="/Account/Register" class="nav-link">Register</a></li>
        <li class="nav-item d-lg-none"><a routerLink="/Account/Login" class="nav-link">Login</a></li>
        <li class="nav-item d-lg-none"><a routerLink="/orders" class="nav-link">My Order</a></li>
      </ul>

      <!-- Search bar: mobile and desktop -->
      <form class="form-inline d-block w-100 my-2 d-lg-none">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" />
          <div class="input-group-append">
            <button class="btn btn-light" type="submit">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
      </form>

      <!-- Desktop-only right-side icons -->
      <ul class="navbar-nav ms-auto align-items-center d-none d-lg-flex">
        <li class="nav-item">
          <a routerLink="/cart" class="nav-link" routerLinkActive="active">
            <i matBadge="{{(count| async )?.basketItems?.length || 0}}" class="material-icons">shopping_cart</i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="ToggleDropDown()" >
            <i class="material-icons">account_circle</i>
          </a>
          <div [ngClass]="{ show: visible }" class="dropdown-menu dropdown-menu-end">
            <a routerLink="/Account/Register" class="dropdown-item">Register <i class="fa fa-user-plus"></i></a>
            <a routerLink="/Account/Login" class="dropdown-item">Login <i class="fa fa-sign-in"></i></a>
            <a routerLink="/orders" class="dropdown-item">My Order <i class="fa fa-list"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
